
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-sm">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a [routerLink]="['login']" routerLinkActive="active" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
        </li>
      </ul>
      
   </div>
  </div>
</nav>

<br><br>



<br><br>
<div class="container" *ngIf="!tableData" style="color: red;">
DATA NOT FOUND
</div>

<div class="container " *ngIf="isAdmin; else elsepart" >
  <div class="row" >
    <div class="col-sm-10" >
      <input class="form-control mr-sm-2" style="box-shadow: none;"  type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchQuery">
    </div>
    <div class="col-sm-2">
      <button class="btn btn-outline-success my-2 my-sm-0" style="box-shadow: none;" type="submit"    
      (click)="searchPosts(searchQuery)">Search</button>
    </div>
  </div>
 
   <br>
   <div style="overflow-x:auto;">
  <table class="table table-bordered table-hover table-dark" >
    <thead>
      <tr class="text-danger text-center">
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Admin</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
     
      <tr class="text-center" *ngFor="let data of tableData | paginate:  {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      }; let i = index">
      
        <td>{{data.username}}</td>
        <td>{{data.firstname}}</td>
        <td>{{data.lastname}}</td>
        <td>{{data.email}}</td>
        <td>{{data.admin}}</td>
        <td><i class="cursor" (click)="updateUser(data)"> <i class="fa-solid fa-user-pen"></i></i></td>
        <td><i class="cursor"(click)="deleteUser(data.id)"><i class="fa-solid fa-trash"></i></i></td>
     
      </tr>
    
      
    </tbody>
  </table>
</div>
  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Prev"
      nextLabel="Next"
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>

<ng-template #elsepart>
 
   <header class="pt2 pb1 align--center">
    <div class="container">
        <p>Welcome to</p>
        <h1 title="Camp Chippewa"><img class="logo" src="../../assets/img/logo.svg" alt="Camp Chippewa"></h1>
    </div>
</header>


<main>
    
    <div class="container">

       
        <section class="grid-row grid-row--center">
           
            <div class="grid-column span-half pt3 pb3 mobile-m order-1 reveal-on-scroll is-revealing">
                <div class="relative">
                    <img class="info-image relative z2" src="../../assets/img/cabin.jpg" alt="Cabin">
                    <div class="pattern pattern--left-down absolute z1"></div>
                </div>
            </div>
            <div class="grid-column span-half pt3 pb3 mobile-m order-2">
                <h3>Cabin</h3>
                <p>Illa argumenta propria videamus, cur omnia sint paria peccata. Quamquam te quidem video minime esse deterritum. Beatus sibi videtur esse moriens. In qua quid est boni praeter summam&nbsp;voluptatem.</p>
            </div>
           
            <div class="grid-column span-half pt3 pb3 mobile-m order-4">
                <h3>Teepees</h3>
                <p>A quibus propter discendi cupiditatem videmus ultimas terras esse peragratas. Laelius clamores sofòw ille so lebat Edere compellans gumias ex ordine&nbsp;nostros.</p>
            </div>
            <div class="grid-column span-half pt3 pb3 mobile-m order-3 reveal-on-scroll is-revealing">
                <div class="relative">
                    <img class="info-image relative z2" src="../../assets/img/teepee.jpg" alt="Teepee">
                    <div class="pattern pattern--right-middle absolute z1"></div>
                </div>
            </div>
          
            <div class="grid-column span-half pt3 pb3 mobile-m order-5 reveal-on-scroll is-revealing">
                <div class="relative">
                    <img class="info-image relative z2" src="../../assets/img/fishing.jpg" alt="Fishing">
                    <div class="pattern pattern--left-up absolute z1"></div>
                </div>
            </div>
            <div class="grid-column span-half pt3 pb3 mobile-m order-6">
                <h3>Fishing</h3>
                <p>Que Manilium, ab iisque M. Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; An eum locum libenter invisit&nbsp;ultimas.</p>
            </div>
           
            <div class="grid-column span-half pt3 pb3 mobile-m order-8">
                <h3>Archery</h3>
                <p>At ille pellit, qui permulcet sensum voluptate. Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? Nec vero sum nescius esse utilitatem in&nbsp;historia.</p>
            </div>
            <div class="grid-column span-half pt3 pb3 mobile-m order-7 reveal-on-scroll is-revealing">
                <div class="relative">
                    <img class="info-image relative z2" src="../../assets/img/archery.jpg" alt="Archery">
                    <div class="pattern pattern--right-down absolute z1"></div>
                </div>
            </div>
           
            <div class="grid-column span-half pt3 pb3 mobile-m order-9 reveal-on-scroll is-revealing">
                <div class="relative">
                    <img class="info-image relative z2" src="../../assets/img/canoeing.jpg" alt="Canoeing">
                    <div class="pattern pattern--left-middle absolute z1"></div>
                </div>
            </div>
            <div class="grid-column span-half pt3 pb3 mobile-m order-10">
                <h3>Canoeing</h3>
                <p>Nam si propter voluptatem, quae est ista laus, quae possit e macello peti? Sin te auctoritas commovebat, nobisne omnibus et Platoni ipsi nescio quem illum&nbsp;anteponebas.</p>
            </div>
        </section>

    </div>

 


    
</main>


</ng-template>















<div class="modal" id="myModal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayReg}">
  <div class="modal-dialog">
    <div class="modal-content">    
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closePopup()"></button>
      </div>
      <div class="modal-body">
        <div class="container bootstrap snippets bootdey">
          <h1 class="text-primary">Update Profile</h1>
            <hr>
        <div class="row">
    
            <div class="col-md-12 personal-info">
              <h3>Personal info</h3>
              
              <form class="form-horizontal" role="form" [formGroup]="profileForm"  >
                
                <div class="form-group">
                  <label class="col-lg-3 control-label">Username:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" placeholder="Enter User Name" formControlName="username" value="">
                  </div>
                </div>

                

                <div class="form-group">
                  <label class="col-lg-3 control-label">First name:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" placeholder="Enter First Name" formControlName="firstname" value="">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-3 control-label">Last name:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" placeholder="Enter Last Name" formControlName="lastname" value="">
                  </div>
                </div>

                <div class="form-check">
                  <label class="form-check-label" >
                    Is Admin?
                  </label>
                  <input class="form-check-input" type="checkbox" formControlName="admin" value="" >
                 
                </div>
              
                <div class="form-group">
                  <label class="col-lg-3 control-label">Email:</label>
                  <div class="col-lg-8">
                    <input class="form-control" type="text" placeholder="Enter Mail Id" formControlName="email" value="">
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      <hr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal"(click)="update()" >Update</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closePopup()">Close</button>
      </div>
    </div>
  </div>
</div>